<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <h3>今の気持ちを投稿して</h3>
    <%= f.text_area :content, placeholder: "Write your feeling", class: "form-control" %>
  </div>
    <%= f.submit "投稿", class: "btn btn-primary mb-2" %></br>
    <%= f.file_field :picture, accept: "image/jpeg,image/gif,image/png" %>
<% end %>

<script>
$('#micropost_picture').bind('change', function(){
  var size_in_megabytes = this.files[0].size/1024/1024;
  if(size_in_megabytes > 5){
    alert('最大サイズは5MBです。小さいファイルに変更してください');
  }
});
</script>