<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_home_path(@user) %>">
    <strong id="following" class="stats">
      <%= @user.following.count %>
    </strong>
    フォロー
  </a>
  <a href="<%= followers_home_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    フォロワー
  </a>
</div>