<div class="card">
  <div class="card-body">
    <div class="profile_image float-left">
      <%= user_picture(user, "50x50") %>
      <%= link_to user.name, home_path(user.id)  %>
    </div>
  </div>
</div>