<div class="row jumbotron no-gutters" >
  <div class="col-md-4">
    <div class="float-right">
      <%= user_picture(@user, "100x100") %>
      <div class="follow-button">
        <%= render "follow_form" %>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <h1><b><%= @user.name %> #Home</b></h1>
  </div>
  <div class="col-md-4">
    <div class="float-right">
      <%= render "shared/stats" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <% if current_user.id == @user.id %>
      <%= render "shared/micropost_form" %>
    <% end %>
  </div>
  <% unless @user.microposts.count.zero? %>
    <div class="col-md-6">
      <h3>あなたの投稿は、<%= @user.microposts.count %>件です。</h3>
      <%= render @microposts %>
      <%= will_paginate @microposts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  <% end %>
</div>