<div class="row mt-4">
  <div class="col-md-4">
    <div class="row">
      <div class="col-sm-3">
        <%= user_picture(@user, "100x100") %>
      </div>
      <div class="col-sm-5 ml-3 mr-auto">
        <h1><%= @user.name %></h1>
        <span><%= link_to "view my profile", home_path(@user) %></span>
        <span><b>Microposts:</b><%= @user.microposts.count %></span>
      </div>
    </div>
    <div class="mt-5">
      <%= render "shared/stats" %>
      <% unless @users.count.zero? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to user_picture(user, "50x50"), home_path(user) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render partial: 'home/user', collection: @users %>
      </ul>
      <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    <% end %>
  </div>
</div>
