<h1 class="center jumbotron">Welcome to my first app!</h1>
<div class="row">
  <div class="center-block col">
    <%= image_tag 'fox.jpeg', size: 300, class: 'img-fluid rounded-circle' %>
  </div>
</div>
