<div class="container">
  <h1 class="text-center">Log in</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", placeholder: "Enter email" %>
    </div>
  
    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: "form-control", autocomplete: "current-password", placeholder: "Enter password" %>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
  
    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
  <%= link_to omniauth_authorize_path(resource_name, :facebook) do %>
    <i class="fab fa-facebook fa-3x facebook-button"> facebook</i>
  <% end %>
</div>