<div class="card">
  <div class="card-body">
    <div class="profile_image float-left">
      <%= user_picture(micropost.user, "50x50") %>
    </div>
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
    <% if current_user == micropost.user %>
      <%= link_to "消去する", micropost, method: :delete, data: { confirm: "本当に消去しますか？" }, class: "btn btn-danger btn-xs float-right"%>
    <% end %>
  </div>
</div>