
ul {
  list-style: none;
  padding: 10px 10px;
}

li {
 padding-right: 10px;
}

.center {
  text-align: center;
}

.facebook-button{
  max-width:300px;
  background-color:#3B5998;
  padding:5px;
  box-shadow:0px 5px 0px -2px #224;
  font-weight:bold;
  font-size:1.3em;
  color:#fff;	
  text-align:center;
  margin:0 auto;	
  border-radius:10px;
}
.facebook-button:active {
  max-width:300px;
  background-color:#3B5998;
  padding:5px;
  box-shadow:0px 2px 0px -1px #224;
  font-weight:bold;
  font-size:1.3em;
  color:#fff;	
  text-align:center;
  margin:0 auto;	
  border-radius:10px;
  transform:translateY(4px);
}

.profile_image{
  background-color: white;
  border-radius: 50%;
}

#upload_profile_image_button{
  padding-bottom: 50px; 
}


.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-100;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.under-stats{
  position: relative;
  top: 100px;
}


.follow-button{
  position: relative;
  right: 15px;
}
