
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <%if user_signed_in? %>
      <h3><b><%= link_to 'Insta App', home_path(current_user), class: 'text-white' %></b></h3>
    <% else %>
      <h3><b><%= link_to 'Insta App', root_path, class: 'text-white' %></b></h3>
    <% end %>
    <% if user_signed_in? %>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#header-menu" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="header-menu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><strong><%= link_to current_user.name, home_path(current_user), class: 'text-white' %></strong></li>
          <li class="nav-item"><%= link_to 'All Users', home_index_path, class: 'text-white' %></li>
          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle text-white" data-toggle="dropdown">設定</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
              <li class="dropdown-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
      </div>
    <% else %>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#header-menu" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="header-menu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><%= link_to '会員登録', new_user_registration_path, class: 'text-white' %></li>
          <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: 'text-white ' %></li>
        </ul>
      </div>
    <% end %>
  </nav>
