<% if user_signed_in? %>
  <%= current_user.name %>
  [<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>]
<% else %>
  <%= link_to 'Sign in with Facebook', user_facebook_omniauth_authorize_path %>
<% end %>